<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<form>
		<p>
			文字：<input type="text" name="name" size="40">
		</p>
		<p>
			性別：<input type="radio" name="sex" value="male">男 <input
				type="radio" name="sex" value="female">女
		</p>
		<p>
			血液型：<select name="Region">
				<option value="北海道・東北">北海道・東北</option>
				<option value="関東">関東</option>
				<option value="中部">中部</option>
				<option value="近畿">近畿</option>
				<option value="中国・四国">中国・四国</option>
				<option value="九州">九州</option>
			</select>
		</p>
		<p>
			<input type="checkbox" name="example" value="kokugo">国語
			<input type="checkbox" name="example" value="english">英語
			<input type="checkbox" name="example" value="mas">数学
		</p>
		<p>
			<textarea id="t_message" name="message" ></textarea>
		</p>
		<p>
			<input type="button">送信
		</p>
	</form>


</body>
</html>