<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table style="border-width: thin; border-style: solid;">
		<tr>
			<th style="border: solid 1px black;">名前</th>
			<th style="border: solid 1px black;">生年月日</th>
			<th style="border: solid 1px black;">趣味</th>
		</tr>
		<tr>
			<td style="border: solid 1px black;">湯川</td>
			<td style="border: solid 1px black;">1999/12/15</td>
			<td style="border: solid 1px black;">水の呼吸</td>
		</tr>
	</table>

	<p>
		<a href="/kadai6">課題6へ</a>
	</p>
</body>
</html>